* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus,
*:active {
  outline: 0;
  box-shadow: 0;
}
body {
  background: rgb(176, 148, 250);
  background: linear-gradient(
    100deg,
    rgba(61, 59, 250, 1),
    rgba(231, 21, 113, 1)
  );
  color: white;
  min-height: 100vh;
  margin-bottom: 2rem;
}
header {
  text-shadow: 2px 2px 15px rgb(176, 236, 255);
  font-size: 2rem;
}
header,
form {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 1.8rem;
  border: none;
  background: #f4f4f4;
}
form button {
  padding: 0.5rem 1rem;
  color: rgba(74, 21, 110, 1);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgba(74, 21, 110, 1);
  color: white;
}
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  background: white;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}
form input,
.todo {
  color: rgb(86, 87, 88);
}
.todo li {
  flex: 1;
}
.trash-btn,
.check-btn {
  background-color: rgba(74, 21, 110, 1);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.2s all ease;
}

.check-btn {
  background-color: rgba(68, 100, 173, 1);
}

.check-btn:hover {
  background-color: rgba(68, 100, 173, 1);
  color: white;
}

.trash-btn:hover {
  color: white;
  background-color: rgba(74, 21, 110, 1);
}

.task {
  padding: 0rem 1.2rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.fall {
  animation: fall-apart 0.5s ease-out;
}

@keyframes fall-apart {
  100% {
    transform: rotateZ(15deg) translateY(8rem);
    opacity: 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  font-size: 1.2em;
  color: rgba(74, 21, 110, 1);
  width: 15rem;
  cursor: pointer;
  padding: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: rgba(74, 21, 110, 1);
  top: 0;
  right: 0;
  padding: 1.2rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background-color: white;
  color: rgba(74, 21, 110, 1);
}
